
h1, h2, p {
    text-align:center; 
}

 img {

    width: 30%;
    
}

body    { 
        background-color: #7FC4E8;
        background-image: url("Background.png");
        background-repeat: no-repeat; 
        background-position: center;
        
      }